@model IEnumerable<ScoreboardVB15.Models.ScoreboardVBModels>
@{
    Layout = "~/Views/Shared/_LayoutMDB.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    <div class="flex-center"><h1><img src="https://png.icons8.com/volleyball/ios7/40/f3e5f5">&nbsp;ScoreboardVB</h1></div>
    
</div>

<div>
    @*<ul class="list-unstyled">
        <li class="flex-center"><button type="button" class="btn btn-outline-secondary waves-effect white">Watch Match</button></li>
        <li class="flex-center"><button type="button" class="btn btn-outline-secondary waves-effect white">Keep Score</button></li>
        <li class="flex-center"><button type="button" class="btn btn-outline-secondary waves-effect white">Start New Match</button></li>
    </ul>*@
    
    <h3 class="flex-center">Current Matches</h3>
    @*<ul class="align-self-center list-unstyled">*@
        @foreach (var item in Model)
        {
            <div class="flex-center"><a href="~/Home/Score/@item.Id" class="white-text">@item.MatchName</a>@*@Html.ActionLink(@item.MatchName, "Score", new { id = item.Id })*@</div>
        }
    @*</ul>*@
</div>

<div class="flex-center mt-2">
    @*@Html.ActionLink("Create New Match", "Create", "ScoreboardVBModels")*@
    <div><a href="~/ScoreboardVBModels/Create" class="btn btn-outline-secondary waves-effect white">Create New Match</a></div>
</div>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@